.modal-image {
  height: 30%;
}

.postAsReel {
  height: 100%;
  margin-top: 2.4em;
  width: 100%;
  vertical-align: middle;
}

.slider-container {
  display: flex;
}

.slider-time {
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 0.6em;
}

.center {
  text-align: center;
}
